<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>medical record - お子さま一覧</title>
</head>
<body>
  <main class="login-main">
    <ul>
      <% @kids.each do |kid| %>
        <li class="kid-item">
          <%= link_to select_kid_path(kid), class: "kid-link" do %>
            <% if kid.icon.attached? %>
              <%= image_tag kid.icon.variant(resize_to_fill: [72, 72]).processed, class: "kid-icon"  %>
            <% else %>
              <span class="kid-icon">👤</span>
            <% end %>
            <span class="kid-name"><%= kid.name %></span>
          <% end %>
        </li>
      <% end %>
    </ul>

    <div class="form-actions">
        <%= link_to "新規登録", new_kid_path,class: "login-button" %>
    </div>
  </main>
</body>
</html>
