<% content_for :title, "medical record - 症状記録" %>

<main class="login-main">
  <div class="kids-show">
    <%= image_tag "kids-show.png" %>
  </div>

  <!-- フッター -->
  <div class="footer">
    <p><%= @kid.name %></p>
  </div>
</main>
